{% extends 'base.html' %}

{% block content %}

	<h1> Add a new book!</h1>

<form method="POST">

                <div class="form-row">
                	<label for="name">Book Name</label>
                    <input class="form-control" type="text" placeholder="Name of Book" id="name" name="name">
                </div>
                <br>
                <div class="form-row">
                    <label for="author">Author</label>
                    <input class="form-control" type="text" placeholder="Author Name" id="author" name="author">
                </div>
                <br>
                <div class="form-row ">
                    <label for="published">Published</label>
                    <input class="form-control " type="date" placeholder="Published" id="published" name="published">
                </div>

                <br>
                <button type="submit " class="btn btn-primary " style="float:left ">Submit</button>
            
            </form>

{% endblock %}