<!doctype html>
<html lang="en">

<head>
	<meta xharset="UTF-8">
	<title> MENU-BOOK-SERVICE </title>
</head>


<body>
<center>
	<div>
  		<nav >
    		<ul style="list-style: none;">
    			<lh><h1>HOME</h1></lh>
				<li><a href='/getall'><h3>View</a></h3></li>
				<li><a href= '/view_by_id'><h3>View by id</a></h3></li>
				<li><a href='/add/form'><h3>Add</a></h3></li>
				<li><a href='/update_by_id'><h3>Update</a></h3></li>
				<li><a href='/del_by_id'><h3>Delete</h3></a></li>
    		</ul>
 		 </nav>
	</div>
	</center>
</body>
</html>


